 <h1>Abhijeet</h1>
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en " dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>استمارة طلب وحدة سكنية</title>
    <!-- CSS only -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.2/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        body {
  background-color: hsl(0, 0%, 95%);
  font-family:sans-serif;
  
}
    </style>
</head>
<body>
  <div class="container" style="width:1580px; border-radius: 20%; height:30%;margin-right:104px;margin-top:20px;">
    <nav class="navbar navbar-dark" style="background-color: #be9e4b; border-radius:5px;" >
      <div class="container">
        <img src="{% static 'logo1.JPG' %}" class="img-fluid" style="margin-right:941px; height:40px;border-radius:5px;" alt="">
    
        </div>
      </div>
    </nav>


</div>

  <div class="container" style="border:4px solid #adb5bd; width:83%;">

    <p><h3  class="text-center"style="font-size:40px; color:gray;" >فۆڕمی داواكردنی وه‌رگرتنی یه‌كه‌ی نیشته‌جێ بوون (شوقه‌)</h3></p>
    <p style="font-size:14px; margin-left:8px;">تكایە ئەم فۆڕمە بە وردی پڕبكەوە بە داخیلكردنی زانیاری درووست فایلەكانت لە 0.5 مێگابایت زیاتر نەبێت</p>
  
    {% for i in data %}    
    <form action="{% url 'update_record' %}" method="post">
        <input type="hidden" name ="checkbox1" id="checkbox1" value="Y">
        <input type="hidden" name ="checkbox2" id="checkbox2" value="Y">
        <input type="hidden" name ="id" value="{{i.id}}">
            {% csrf_token %}
       
    <div class="row">
                  
      <div class="col-md-1">
        <div class="form-check" style="margin-left:45px;">
          
            
            <input class="form-check-input" type="checkbox" value="" name="checkbox123" id="checkbox123" onclick="setvalue1()" checked>
     
      
    </div>
  </div>
    <div class="col-md-11">
      <label class="form-check-label" for="flexCheckDefault" style="font-size:12px; margin-right:-60px;">
        من ئاگادارم كە ئەم یەكە نێشتەجێبوونە دەدرێت بەرامبەر بە پێدانی پێشەكییەكی دیاریكراوو دواتر بە قستی مانگانەی درێژخایەن كە لەداهاتوودا دیاری دەكرێت
      </label>
    </div>
           
      
      <div class="container-fluid">
            <!-- Card body -->
            
            <div id="wrapper" id="mycode1">
              <label for="yes_no_radio" style="margin-left:22px; margin-top: 20px;"><strong style="font-size: 14px;">ئایا پێشتر سوودمەندبووی لە وەرگرتنی زەوی، خانوو، شووقە؟</strong><span style="color:red;">*</span></label>
            <p>
            <input type="radio" style="margin-right: 11px;margin-left: 6px;;" name="yes_no" onclick="mycode11()" value="yes" required >بەڵێ
          
            <input type="radio" style="margin-right: 15px;margin-top: 18px
 ;margin-left: 14px;" name="yes_no" onclick="mycode11()" value="no" required checked>نەخێر
            </p>
            </div>
            <div class="row" style="display:none;" id="notapplicable">
              <label for="textlabel"  style="margin-right:350px;" ><strong style="color:red;  font-size: 14px;">  معذرة حسب التعليمات لايمكنك الاستفادة من هذا المشروع</strong><span style="color:red;">*</span></label>
            </div>
           <div class="container" id="mydiv">
         
            <div id="code11" >
              <div>
              <label for="yes_no_radio" style="margin-left:22px;"><strong  style="font-size: 14px;">باری خێزانیت</strong><span style="color:red;">*</span></label>
            <p >
            <input type="radio" style="margin-right: -2px;margin-top: 18px
            ;margin-left: 14px;" name="yes_no1"  value="yes" required checked onclick="singleapart()">سەڵت</input>
          
            <input type="radio" style="margin-right: 11px;margin-top: 18px
            ;margin-left: 14px;" name="yes_no1" value="no" required onclick="singleapart()">خێزاندار/جیابوەوە/بێ سەرپەرشتیار</input>
            </p>
           
            </p>
            </div>
          </div>
          
           
               <div class="row" id="code12" >
                <div class="row">
                <div class="col-3 " id="family12">
                  <div class="mb-3">
                    <label for="exampleInput11" class="form-label"><strong  style="font-size: 14px;">  ژمارەی ئەندامانی خێزان
                    </strong>     <span style="color:red;">*</span>
                    </label>
                    <br>
                    <input name="family" value="{{i.Family}}" class="col-md-4 " id="familycount" style="width: 150px; height:35px; border-radius:7px; border:1px solid #dee2e6;"   required onchange="fill()">
                    {% comment %} <option value=""></option> 
                      <option value="2">2</option>
                      <option value="3">3</option>     
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option> 
                      <option value="9">9</option> {% endcomment %}
                    </select>
                  </div>
                </div>
      
                <div class="col-3 ">
                  <div class="mb-3" id="apart">
                    <label for="exampleInput12" class="form-label"><strong  style="font-size: 14px;"> جۆری شوقە</strong><span style="color:red;">*</span></label>
                    <br>
                    <select class="col-md-4 mb-4 mb-md-0"  name="apartment" value="{{i.Apartment}}"style="width: 150px; height:35px; border-radius:7px; border:1px solid #dee2e6;" id="apartment"  >
                       <option value="80㎡">㎡ 80</option>
                      <option value="100㎡">㎡ 100</option>     
                      <option value="120㎡">㎡ 120</option>     
                    </select> 
                  </div>
                </div>
                <div class="col-3">
                  <div class="mb-3" id="disabled12">
                    <label for="exampleInput12" class="form-label"><strong  style="font-size: 14px;">خاوەنپێداویستی تایبەتت هەیە؟</strong><span style="color:red;">*</span></label>
                    <br>
                    {% comment %} <select type="text" name="disability" value="{{i.Disability}}" border: none;  ><br><br>   {% endcomment %}
                      <select name="disability" value="{{i.Disability}}" class="col-md-4 mb-4 mb-md-0" style="width: 150px; height:35px; border-radius:7px; border:1px solid #dee2e6" id="disable11" required>
                     
                      
                      <option value="yes"> بەڵێ  </option>
                      <option value="no"> نەخێر </option>     
                      
                    </select> 
                  </div>
                </div>
              </div>
                </div>
                
             <div id="sittingInfo">
             <div  class="card-header" style="background-color: #be9e4b; border-radius:5px;">
              <h4  style="color:white; margin-left: 10px;padding-bottom: 13px; font-size:17px; border-radius:5px;"> <span style="margin-right: 15px;">زانیاری شوێنی دانیشتن:</span></h4>
            </div> 
            <div class="row">
              <div class="col-4">
               
                  <label for="exampleInput11" class="form-label"><strong  style="font-size: 14px;">پارێزگا/ ئیدارەی سەربەخۆ
                   </strong> <span style="color:red;">*</span><br>
                   <select name="administration" value="{{i.Administration}}"    class="col-4" style="width: 294px; margin-top:7px; height:35px; border-radius:7px; border:1px solid #dee2e6;" required id="disable11">
                    <option value="هەولێر">هەولێر</option>
                      <option value="سلێمانی">سلێمانی</option>
                      <option value="دهۆك">دهۆك</option>
                      <option value="هەڵەبجە">هەڵەبجە</option>
                      <option value="راپەڕین">راپەڕین</option>
                      <option value="گەرمیان">گەرمیان</option>
                      <option value="سۆران">سۆران</option>
                      <option value="زاخۆ">زاخۆ </option>
                      </select> 
                  </label>
                
               
              </div>
    
              <div class="col-4">
                <div class="mb-4">
                  <label for="exampleInput12" class="form-label" ><strong  style="font-size: 14px;">قەزا
                  </strong>  <span style="color:red;">*</span></label>
                  <input type="text" name="district" value="{{i.District}}" class="form-control" id="exampleInput12"   required>
                </div> 
              </div>
              <div class="col-4">
                <div class="mb-4">
                  <label for="exampleInput12" class="form-label"><strong  style="font-size: 14px;">ژمارەی خانوو و گەڕەك<span style="color:red;">*</span></label>
                  </strong><input type="text" name="fulladress" value="{{i.Fulladress}}" class="form-control" id="exampleInput12"   required>
                </div>
              </div>
              </div>
              <div id="wrapper" >
                <label for="yes_no_radio2" style="margin-left:22px; margin-top: 20px;"><strong  style="font-size: 14px;">ئایا فەرمانبەری حكومەتی/خانەنشینی؟ </strong>
                  <span style="color:red;">*</span></label>
              <p>
              <input type="radio" style="margin:30px 10px;" name="yes_no2" value="yes" checked onclick="govern()" required>بەڵێ</input>
            
              <input type="radio" style="margin:20px 10px;" name="yes_no2" value="no" onclick="govern()" required>نەخێر</input>
              </p>
              </div>

              <div class="row" id="emp13" style="padding-bottom: 49px;">
                <div class="row">
                <div class="col-3">
                      <div class="mb-3">
                           <label for="usr"><strong  style="font-size: 14px;">پارێزگا/ ئیدارەی سەربەخۆ</strong><span style="color:red;">*</span></label>
                           <br>
                           <select name="atonomous" value="{{i.Atonomous}}" id="" style="width: 150px; height:35px; border-radius:7px; border:1px solid #dee2e6;"   required>
                            <option value="هەولێر">هەولێر</option>
                          <option value="سلێمانی">سلێمانی</option>
                          <option value="دهۆك">دهۆك</option>
                          <option value="هەڵەبجە">هەڵەبجە</option>
                          <option value="راپەڕین">راپەڕین</option>
                          <option value="گەرمیان">گەرمیان</option>
                          <option value="سۆران">سۆران</option>
                          <option value="زاخۆ">زاخۆ </option>
                        </select>
                      </div>
                </div>
  
                <div class="col-md-3 mb-4 mb-md-0">
                   <div class="mb-3">
                     <label for="text1"><strong  style="font-size: 14px;">قەزا</strong><span style="color:red;">*</span></label>
                     <input type="text" class="form-control" id="text1" name="area" value="{{i.Area}}" required>
                    </div>
                 </div>
                <div class="col-md-3 mb-4 mb-md-0">
                    <div class="mb-3">
                      <label for=""><strong  style="font-size: 14px;">وەزارەت</strong><span style="color:red;">*</span></label>
                      <br>
                      <select name="ministry" value={{i.Ministry}} id=" "   style="width: 150px; height:35px; border-radius:7px; border:1px solid #dee2e6;" required>
                         <option value="هەڵبژێرە" disabled>هەڵبژێرە</option>
                      <option value=" سەرۆكایەتی هەرێم">سەرۆكایەتی هەرێم</option>
                      <option value="پەرلەمان">پەرلەمان</option>
                      <option value="سەرۆكایەتی ئەنجومەنی وەزیران">سەرۆكایەتی ئەنجومەنی وەزیران</option>
                      <option value=" داواكاری گشتی ">داواكاری گشتی</option>
                      <option value="دەستەی دەستپاكی">دەستەی دەستپاكی</option>

                      <option value="باوک">باوک</option>
                      <option value="کاروباریپێشمەرگە">کاروباری پێشمەرگە</option>
                      <option value="ناوخۆ">ناوخۆ</option>
                      <option value="دارایی و ئابوری">دارایی و ئابوری</option>
                      <option value="سامانەسروشتییەکان">سامانە سروشتییەکان</option>

                      <option value="تەندروستی">تەندروستی</option>
                      <option value="پەروەردە">پەروەردە</option>
                      <option value="ئاوەدانکردنەوە و نیشتەجێکردن
                        ">ئاوەدانکردنەوە و نیشتەجێکردن</option>
                   
                      <option value="خوێندنی باڵا و توێژینەوەی زانستی
                        ">خوێندنی باڵا و توێژینەوەی زانستی</option>

                      <option value="پلاندانان">پلاندانان</option>
                      <option value="کار و کاروباری کۆمەڵایەتی">کار و کاروباری کۆمەڵایەتی</option>
                      <option value="رۆشنبیری و لاوان">رۆشنبیری و لاوان</option>
                      <option value="کاروباری شەهیدان و ئەنفالکراوان">کاروباری شەهیدان و ئەنفالکراوان</option>
                      <option value="کشتوکاڵ و سەرچاوەکانی ئاو">کشتوکاڵ و سەرچاوەکانی ئاو</option>

                      <option value=">بازرگانی و پیشەسازی">بازرگانی و پیشەسازی</option>
                      <option value="گواستنەوە و گەیاندن">گواستنەوە و گەیاندن</option>
                      <option value="ئەوقاف و کاروباری ئایینی">ئەوقاف و کاروباری ئایینی</option>
                      <option value="کارەبا">کارەبا</option>
                      <option value="فەرمانگەی پەیوەندییەکانی دەرەوە">فەرمانگەی پەیوەندییەکانی دەرەوە</option>

                      <option value="فەرمانگەی میدیا و زانیاری">فەرمانگەی میدیا و زانیاری</option>
                      <option value="فەرمانگەی هەماهەنگی و بەدواداچوون">فەرمانگەی هەماهەنگی و بەدواداچوون</option>
                      <option value="فەرمانگەی تەکنەلۆجیای زانیاری">فەرمانگەی تەکنەلۆجیای زانیاری</option>
                      <option value="فەرمانگەى رێکخراوە ناحکومییەکان">فەرمانگەى رێکخراوە ناحکومییەکان</option>
                      <option value="دەستەی پاراستن و چاككردنی ژینگە">دەستەی پاراستن و چاككردنی ژینگە</option>

                      <option value="دەستەی وەبەرهێنان">دەستەی وەبەرهێنان</option>
                      <option value="دەستەی گشتی ناوچە کوردستانییەکانی دەرەوەی ئیدارەی هەرێ">دەستەی گشتی ناوچە کوردستانییەکانی دەرەوەی ئیدارەی هەرێم</option>
                      <option value="دەزگاى گشتى کاروبارى مین">دەزگاى گشتى کاروبارى مین</option>
                      <option value="ئەنجومەنی باڵای خانمان و گەشەپێدان">ئەنجومەنی باڵای خانمان و گەشەپێدان</option>
                      <option value="‌ئەكاديمياى كوردى">‌ئەكاديمياى كوردى</option>

                      <option value="نووسینگەی ڕێکخەری ڕاسپاردە نێودەوڵەتییەکان">نووسینگەی ڕێکخەری ڕاسپاردە نێودەوڵەتییەکان</option>
                      <option value="كۆمسیۆنی باڵای هەڵبژاردنەكان">كۆمسیۆنی باڵای هەڵبژاردنەكان</option>
                      <option value="دیوانی چاودێری دارایی">دیوانی چاودێری دارایی</option>
                      <option value="دەستەی مافی مرۆڤ">دەستەی مافی مرۆڤ</option>
                      <option value="‌هیتر">‌هیتر</option>
                    </select>
                    </div>
                </div>
                 <div class="col-md-3 mb-4 mb-md-0">
                     <div class="mb-3">
                        <label for="usr1"><strong  style="font-size: 14px;">فەرمانگە/ بەڕێوەبەرایەتی</strong><span style="color:red;">*</span></label>
                        <input type="text"  name='office' value="{{i.Office}}" class="form-control" id="usr1" required  >
                      </div>
                  </div>
            
          
            </div>
</div>
              
              <div class="card-header" style="background-color:#be9e4b;border-radius:5px;">
                <h4  style="color:white;margin-left: 10px; padding-bottom: 13px; font-size: 17px;"><span style="margin-right: 15px">زانیاری كەسی:</span?</h4>
               </div>
              <div class="row">
                <div class="col-md-3 mb-6 mb-md-0">
                      <div class="mb-3">
                           <label for="usr2"><strong  style="font-size: 14px;">ناوی چوارینی</strong></label>
                           <input type="text" name="frname" value="{{i.Frname}}" class="form-control" id="usr2" required>
                          </div>
                </div>
              
                <div class="col-md-3 mb-4 mb-md-0">
                   <div class="mb-3">
                     <label for="text4"><strong  style="font-size: 14px;">رێكەوتی لەدایكبوون</strong></label>
                     <input type="text" class="form-control" value="{{i.Date1}}" name="date1" required>
                      
                    </div>
                 </div>
                <div class="col-md-3 mb-4 mb-md-0">
                    <!-- <div class="mb-3">
                      <label for="phone2"> ژمارەی تەلەفۆن</label>
                      <span class="fi fi-iq"></span>
                        <input type="phone2" class="form-control  " value="964+" id="phone2" 
                        name="phone2">
                    </div> -->

                    <div class="mb-3" style=" position: relative;"> <strong  style="font-size: 14px;"> ژمارەی تەلەفۆن
                      </strong>
                      <input type="text" name="telephone" value="{{i.Telephone}}" style="  padding-left: 48px;
                      margin-top: 4px;
                      border-radius: 5px;
                      height: 35px;
                      width: 240px;border:2px solid #dee2e6;" required>
                      <span class="fi fi-iq" style="  position: absolute;left: 20px;
                      top: 38px"></span>    
                  </div>
                    
                </div>
                 <div class="col-md-3 mb-4 mb-md-0">
                     <div class="mb-3">
                        <label for="usr3"><strong  style="font-size: 14px;"> ناوی سیانی دایك</strong></label>
                        <input type="text" name="mothername" value="{{i.Mothername}}" border: none;  ><br><br>
                      </div>
                  </div>
            
                  <div class="col-md-3 mb-4 mb-md-0">
                    <div class="mb-3">
                      <div class="custom-file">
                        <label class="custom-file-label" for="customInput"> <strong style="font-size:14px;margin:6px">  ناسنامەی شارستانی/ كارتی نیشتیمانی </strong> </label>
                        <input type="file" class="custom-file-input" id="file1" name="file1" style="margin:15px; font-size:14px" >
                        
                    </div>
                     </div>
                  </div>
                  <div class="col-md-3 mb-4 mb-md-0">
                    <div class="mb-3">
                      <div class="custom-file">
                        <label class="custom-file-label" for="customInput"><strong  style="font-size: 14px;margin:6px;">
                          فۆڕمی خۆراك</strong></label>
                        <input type="file" class="custom-file-input" id="customInput2" name="file2" style="margin:15px; font-size:14px;" >
                        
                    </div>
                     </div>
                  </div>
                  <div class="col-md-3 mb-4 mb-md-0">
                    <div class="mb-3">
                      <div class="custom-file">
                        <label class="custom-file-label" for="customInput"><strong  style="font-size: 14px;margin:6px;">كارتی زانیاری</strong></label>
                        <input type="file" class="custom-file-input" id="customInput3" name="file3" style="margin:15px; font-size:14px;" >
                        
                    </div>
                     </div>
                  </div>
            
                  <div class="row">
                    <div class="col-md-4 mb-6 mb-md-0">
                          <div class="mb-4">
                               <label for="usr4"><strong  style="font-size: 14px;">ناوی هاوسەر</strong><span style="color:red;">*</span></label>
                               <input type="text" name="partner" value="{{i.Partner}}" class="form-control" id="usr4" required>
                              </div>
                    </div>
                  
                    <div class="col-md-4 mb-4 mb-md-0">
                       <div class="mb-4">
                         <label for="date"><strong  style="font-size: 14px;">رێكەوتی لەدایكبوون</strong><span style="color:red;">*</span></label>
                         <input type="date" class="form-control"  name="date2" value="{{i.Date2}}" required>
                          
                        </div>
                     </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        
                    <div class="mb-4" style=" position: relative;"><strong  style="font-size: 14px;"> ژمارەی تەلەفۆن
                     </strong> <input type="text"  name="teleph" value="{{i.Teleph}}" style="  padding-left: 147px;    margin-top: 4px;height: 36px;
                     border-radius: 6px; border:1px solid #dee2e6; " required>
                      <span class="fi fi-iq" style="  position: absolute;left: -5px;
                      top: 38px"></span>    
                  </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mb-4 mb-md-0">
                        <div class="mb-3">
                          <div class="custom-file">
                            <label class="custom-file-label" for="customInput"><strong  style="font-size: 14px; margin:6px;">
                              ناسنامەی شارستانی/ كارتی نیشتیمانی</strong></label>
                            <input type="file" class="custom-file-input" id="customInput4" name="customInput4" style="margin:15px; font-size:14px" >
                            
                        </div>
                         </div>
                      </div>
                    </div>
              </div>
              <div id="wrapper" >
                <label for="yes_no_radio2" style="margin-left:22px; "><strong  style="font-size: 14px;">ئایا هاوسەرەكەت فەرمانبەری حكومەتە/خانەنشینە؟  </strong> <span style="color:red;">*</span></label>
              <p>
              <input type="radio" style="margin:30px 10px;" name="yes_no4" value="yes" onclick="empwife()" required>بەڵێ</input>
            
              <input type="radio" style="margin:20px 10px;" name="yes_no4" value="no" onclick="empwife()" checked required>نەخێر</input>
              </p>
              </div>
           
              <div class="row" id="wifeemp">
                <div class="row">
                <div class="col-4">
                      <div class="mb-4">
                           <label for="usr"><strong  style="font-size: 14px;">وەزارەت</strong><span style="color:red;">*</span></label>
                           <br>
                           {% comment %} <select class="col-3" style="width: 296px; margin-top:1px; height:37px; border-radius:7px; border:1px solid #dee2e6;" id="disable11" value="{{i.Ministryy}}" name="ministryy" required> {% endcomment %}
                            <select class="col-3" style="width:322px; margin-top:1px; height:37px; border-radius:7px; border:1px solid #dee2e6;" id="disable11" value="{{i.Ministryy}}" name="ministryy" required>                            
                              <option value="" disabled></option>
                      <option value="هەڵبژێرە" >هەڵبژێرە</option>
                      <option value=" سەرۆكایەتی هەرێم">سەرۆكایەتی هەرێم</option>
                      <option value="پەرلەمان">پەرلەمان</option>
                      <option value="سەرۆكایەتی ئەنجومەنی وەزیران">سەرۆكایەتی ئەنجومەنی وەزیران</option>
                      <option value=" داواكاری گشتی ">داواكاری گشتی</option>
                      <option value="دەستەی دەستپاكی">دەستەی دەستپاكی</option>

                      <option value="باوک">باوک</option>
                      <option value="کاروباریپێشمەرگە">کاروباری پێشمەرگە</option>
                      <option value="ناوخۆ">ناوخۆ</option>
                      <option value="دارایی و ئابوری">دارایی و ئابوری</option>
                      <option value="سامانەسروشتییەکان">سامانە سروشتییەکان</option>

                      <option value="تەندروستی">تەندروستی</option>
                      <option value="پەروەردە">پەروەردە</option>
                      <option value="ئاوەدانکردنەوە و نیشتەجێکردن
                        ">ئاوەدانکردنەوە و نیشتەجێکردن</option>
                   
                      <option value="خوێندنی باڵا و توێژینەوەی زانستی
                        ">خوێندنی باڵا و توێژینەوەی زانستی</option>

                      <option value="پلاندانان">پلاندانان</option>
                      <option value="کار و کاروباری کۆمەڵایەتی">کار و کاروباری کۆمەڵایەتی</option>
                      <option value="رۆشنبیری و لاوان">رۆشنبیری و لاوان</option>
                      <option value="کاروباری شەهیدان و ئەنفالکراوان">کاروباری شەهیدان و ئەنفالکراوان</option>
                      <option value="کشتوکاڵ و سەرچاوەکانی ئاو">کشتوکاڵ و سەرچاوەکانی ئاو</option>

                      <option value=">بازرگانی و پیشەسازی">بازرگانی و پیشەسازی</option>
                      <option value="گواستنەوە و گەیاندن">گواستنەوە و گەیاندن</option>
                      <option value="ئەوقاف و کاروباری ئایینی">ئەوقاف و کاروباری ئایینی</option>
                      <option value="کارەبا">کارەبا</option>
                      <option value="فەرمانگەی پەیوەندییەکانی دەرەوە">فەرمانگەی پەیوەندییەکانی دەرەوە</option>

                      <option value="فەرمانگەی میدیا و زانیاری">فەرمانگەی میدیا و زانیاری</option>
                      <option value="فەرمانگەی هەماهەنگی و بەدواداچوون">فەرمانگەی هەماهەنگی و بەدواداچوون</option>
                      <option value="فەرمانگەی تەکنەلۆجیای زانیاری">فەرمانگەی تەکنەلۆجیای زانیاری</option>
                      <option value="فەرمانگەى رێکخراوە ناحکومییەکان">فەرمانگەى رێکخراوە ناحکومییەکان</option>
                      <option value="دەستەی پاراستن و چاككردنی ژینگە">دەستەی پاراستن و چاككردنی ژینگە</option>

                      <option value="دەستەی وەبەرهێنان">دەستەی وەبەرهێنان</option>
                      <option value="دەزگاى گشتى کاروبارى مین">دەزگاى گشتى کاروبارى مین</option>
                      <option value="ئەنجومەنی باڵای خانمان و گەشەپێدان">ئەنجومەنی باڵای خانمان و گەشەپێدان</option>
                      <option value="‌ئەكاديمياى كوردى">‌ئەكاديمياى كوردى</option>

                      <option value="نووسینگەی ڕێکخەری ڕاسپاردە نێودەوڵەتییەکان">نووسینگەی ڕێکخەری ڕاسپاردە نێودەوڵەتییەکان</option>
                      <option value="كۆمسیۆنی باڵای هەڵبژاردنەكان">كۆمسیۆنی باڵای هەڵبژاردنەكان</option>
                      <option value="دیوانی چاودێری دارایی">دیوانی چاودێری دارایی</option>
                      <option value="دەستەی مافی مرۆڤ">دەستەی مافی مرۆڤ</option>
                      <option value="‌هیتر">‌هیتر</option>
                    </select> 
                      </div>
                </div>
              
                <div class="col-4">
                   <div class="mb-4">
                     <label for="text2"><strong  style="font-size: 14px;">
فەرمانگە/ بەڕێوەبەرایەتی
         </strong><span style="color:red;">*</span></label>
         <input type="text" class="form-control" value="{{i.Directorate}}" id="text2" name="directorate" required>
                   
                    </div>
                 </div>
                <div class="col-4">
                    <div class="mb-4">
                      <label for="text"> <strong  style="font-size: 14px;">
                        شار/ شارۆچكە </strong></label>
                        <input type="text" class="form-control"   value="{{i.City}}" id="text3" name="city" required>
                    
                      </div>
                </div>
                </div>
              </div>
         
              <div class="row">
                  
                  <div class="col-md-1">
                    <div class="form-check" style="margin-left:43px;">
                      
                        
                      <input class="form-check-input" type="checkbox" value="" name="checkbox12345" checked id="flexCheckDefault1" required>
                 
                  
                </div>
              </div>
                <div class="col-md-11">
                  <label class="form-check-label" for="flexCheckDefault" style="font-size:14px;     margin-right: -56px" checked>
                    (ئەم بۆكسە كلیك بكە) به‌لێن ده‌ده‌م كه‌ دان ده‌نێم به‌ ڕاستی زانیاریه‌كانی سه‌ره‌وه‌. به‌ێچه‌وانه‌وه‌ خۆم به‌ر پرسیار ده‌زانم به‌رامبه‌ر به‌ یاسا.
                  </label>
                </div>
      
         
          
            
          </div>
            <!-- Card footer -->
            <div class="card-footer">
               <button type="submit" class="btn" style="margin-right:441px; margin-top:100px; margin-bottom:1%; background-color:#be9e4b;width:215px;"><span style="color:white; font-size:14px;">بینێرە</span></button>
            </div>
          </form>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
      <!-- JavaScript Bundle with Popper -->
      <script>


        function setvalue1()
        {
         var val= document.getElementById("checkbox123");
         
         if(val.checked==true)
          {
            
            document.getElementById("checkbox1").value="Y"
          }
          else{
            
            document.getElementById("checkbox1").value="N"
          }
        }
{% comment %} checkbox2 {% endcomment %}

        function setvalue2()
        {
         var val= document.getElementById("checkbox12345");
         
         if(val.checked==true)
          {
            
            document.getElementById("checkbox2").value="Y"
          }
          else{
            
            document.getElementById("checkbox2").value="N"
          }
        }




       
        function mycode11()
{
var value_of_r = document.querySelector('input[name="yes_no"]:checked').value;
if(value_of_r == 'no')
{
  document.getElementById("code11").style.display="block";
  document.getElementById("code12").style.display="block";
  document.getElementById("notapplicable").style.display="none";
  document.getElementById("mydiv").style.display="block";
  
}
else{
  document.getElementById("code11").style.display="none";
  document.getElementById("code12").style.display="none";
  document.getElementById("notapplicable").style.display="block";
  document.getElementById("mydiv").style.display="none";
}
}
function fill(){
         
  var cntfamily=document.getElementById("familycount").value;
 
  const $select = document.querySelector('#apartment');
  if(cntfamily>3){

var op = document.getElementById("apartment").getElementsByTagName("option");
for (var i = 0; i < op.length; i++) {
op[i].disabled = false; 
}

for (var i = 0; i < op.length; i++) {
if(op[i].value.toLowerCase() == "80㎡")
{ 
op[i].disabled = true; 
}
}
  }
else{
var op = document.getElementById("apartment").getElementsByTagName("option");
for (var i = 0; i < op.length; i++) {
op[i].disabled = false; 
}
for (var i = 0; i < op.length; i++) {
if(op[i].value.toLowerCase() == "120㎡") 
{
op[i].disabled = true;
}
}
  }

  
}





        function singleapart()
        {
var value_of_r = document.querySelector('input[name="yes_no1"]:checked').value;
if(value_of_r == 'no')
{
  document.getElementById("family12").style.display="none";
  var select1 = document.querySelector('#apartment');
  select1.value = '80㎡';
  document.getElementById("apartment").disabled = true;
  var elements = document.getElementById("familycount");
  elements.removeAttribute("required");
}
else{
  document.getElementById("family12").style.display="block";
  var elements = document.getElementById("familycount")
  var select1 = document.querySelector('#apartment');
  document.getElementById("apartment").disabled = false;
  elements.setAttribute("required", "true");
  
}        
        }

        function govern(){
          var value_of_r = document.querySelector('input[name="yes_no2"]:checked').value;
if(value_of_r == 'no')
{
  document.getElementById("emp13").style.display="block";
  var usr1 = document.getElementById("usr1");
  var ministry = document.getElementById("ministry");
  var text1 = document.getElementById("text1");
  var atonomous = document.getElementById("atonomous");
  usr1.setAttribute("required", "true");
  ministry.setAttribute("required", "true");
  text1.setAttribute("required", "true");
  atonomous.setAttribute("required", "true");
}
else{
  document.getElementById("emp13").style.display="none";

  var usr1 = document.getElementById("usr1");
  var ministry = document.getElementById("ministry");
  var text1 = document.getElementById("text1");
  var atonomous = document.getElementById("atonomous");
  usr1.removeAttribute("required");
  ministry.removeAttribute("required");
  text1.removeAttribute("required");
  atonomous.removeAttribute("required");


 
}

        }
        function empwife(){
          var value_of_r = document.querySelector('input[name="yes_no4"]:checked').value;
if(value_of_r == 'yes')
{
  document.getElementById("wifeemp").style.display="none";
  var text3 = document.getElementById("text3");
  var text2 = document.getElementById("text2");
  var disable11 = document.getElementById("disable11");
  
  text3.removeAttribute("required");
  text2.removeAttribute("required");
  disable11.removeAttribute("required");
  
  
}
else{
  document.getElementById("wifeemp").style.display="block";
  var text3 = document.getElementById("text3");
  var text2 = document.getElementById("text2");
  var disable11 = document.getElementById("disable11");
  var atonomous = document.getElementById("atonomous");
  text3.setAttribute("required", "true");
  text2.setAttribute("required", "true");
  disable11.setAttribute("required", "true");
}

        }
        </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}

