<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">

                <table class="table" border="1px">
                    <thead>
                      <tr>
                        <th >ID</th>
                        <th >ناسنامەی شارستانی/ كارتی نیشتیمانی</th>
                        <th >فۆڕمی خۆراك</th>
                        <th >كارتی زانیاری</th>
                        <th >ناسنامەی شارستانی/ كارتی نیشتیمانی </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in data %}
                      <tr>
                        <th>{{forloop.counter}}</th>
                        <!-- <th>{{d.file_name}}</th> -->
                        <th><a  href="{{i.file1.url}}">File1</a></th>
                        <th><a  href="{{i.file2.url}}">File2</a></th>
                        <th><a  href="{{i.file3.url}}">File3</a></th>
                        <th><a  href="{{i.file4.url}}">File4</a></th>

                        <!-- <th><a  href="{{d.my_file4.url}}">{{d.my_file4}}</a></th> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>



            </div>
        </div>
    </div>




</body>

</html>