
<table border="1px">
    <tr>
      <th>Fulladress</th>
      <th>District</th>
      <th>Administration</th>
      <th>Office</th>
      <th>Ministry</th>
      <th>Area</th>
      <th>Atonomous</th>
      <th>Disability</th>
      <th>Apartment</th>
      <th>Family</th>
      <th>Mothername</th>
      <th>Telephone</th>
      <th>Frname</th>
      <th>Teleph</th>
      <th>Partner</th>
      <th>City</th>
      <th>Directorate</th>
      <th>Ministryy</th>

    </tr>

    {% for i in data %}


    <tr>

      <td>{{i.Fulladress}}</td>
      <td>{{i.District}}</td>
      <td>{{i.Administration}}</td>
      <td>{{i.Office}}</td>
      <td>{{i.Ministry}}</td>
      <td>{{i.Area}}</td>
      <td>{{i.Atonomous}}</td>
      <td>{{i.Disability}}</td>
      <td>{{i.Apartment}}</td>
      <td>{{i.Family}}</td>
      <td>{{i.Mothername}}</td>
      <td>{{i.Telephone}}</td>
      <td>{{i.Teleph}}</td>
      <td>{{i.Partner}}</td>
      <td>{{i.City}}</td>
      <td>{{i.Directorate}}</td>
      <td>{{i.Ministryy}}</td>

    </tr>

    {% endfor %}
  </table>



</head>
</html>